:root {
  --surface : hsl(240, 10%, 8%);
  --surface-container : hsl(240, 10%, 10%);

  --primary : #F5F5F5;
  --onprimary : #111111;

  --contentarea : 980px;
}

@media screen and (max-width: 1023px) {
  .sectioncontent, .subsection1, .subsection2{
    --contentarea : 692px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #111111;
}

h1, h2, h3 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  line-height: 0%;
  font-style: normal;
}

h1 {
  color: var(--primary);
  
  font-weight: 500;
  font-size: 48px;
}

h2 {
  color: var(--primary);
  
  font-weight: 400;
  font-size: 40px;
}

.navbar {
  height: 56px;
  background-color: var(--surface-container);
}

.home {
  background-color: var(--surface);
  background-image: url("../CorianiAmedeo/PatternTest_980maxW.png");
  background-size: 1183px;
  background-position: center;
  background-repeat: repeat-y;
  height: 100%;
}

.section {
  padding-top : calc(49px + 4px);
  padding-bottom : 4em;
}

.sectioncontent {
  max-width: var( --contentarea);
  margin-left : auto;
  margin-right: auto;
}

.subsection1 {
  margin: auto;
  max-width: calc(var( --contentarea) - (98px * 2));
}

.subsection2 {
  margin: auto;
  max-width: calc(var( --contentarea) - (98px * 4));
  padding: 4em;
}

.surfacedim {
  background-color: rgba(255, 255, 255, .05);
}

.vguide {
  width: 1px;
  position: absolute;
  left: 23vw;
  top: 0%;
  height: 100%;
  background-color: #00e1ff;
}