@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Z-INDEX */
  --top-navigation: 1000;
  --resume-cta: 700;

  /* TYPOGRAPHY */
  --ff: "Inter", sans-serif;

  --logotype: 500 1.125rem/1em var(--ff);
  --logotype-spacing: -0.05em;

  --h1: 500 1.125rem/1em var(--ff);
  --p: 300 1rem/1.5em var(--ff);

  /* SURFACE COLORS */
  --surface-hue: 300;
  --surface: hsl(var(--surface-hue), 2%, 4%);
  --surface-high: hsl(var(--surface-hue), 2%, 8%);
  --surface-highest: hsl(var(--surface-hue), 2%, 12%);

  /* ON SURFACE COLORS */
  --on-surface-hue: 0;
  --on-surface: hsl(var(--on-surface-hue), 0%, 95%);
  --on-surface-var: hsl(var(--on-surface-hue), 0%, 70%);

  /* PRIMARY, SECONDARY, TERTIARY COLORS */
  --primary: hsl(210, 100%, 45%);
  --on-primary: hsl(0, 0%, 100%);

  /* STRUCTURE */
  --container-maxwidth: 980px;
}

@media (prefers-color-scheme: light){
  :root {
    /* SURFACE COLORS */
    --surface: hsl(var(--surface-hue), 2%, 96%);
    --surface-high: hsl(var(--surface-hue), 2%, 92%);
    --surface-highest: hsl(var(--surface-hue), 2%, 88%);
  
    /* ON SURFACE COLORS */
    --on-surface-hue: 0;
    --on-surface: hsl(var(--on-surface-hue), 0%, 5%);
    --on-surface-var: hsl(var(--on-surface-hue), 0%, 30%);
  }
}

@media screen and (min-width: 1068px) {

}

html, body {
  margin: 0;
  background-color: var(--surface);
}

.container {
  margin: auto;
  padding: 0 16px 0 16px;

  max-width: var(--container-maxwidth);
  height: 100%;
}

#navbar {
  z-index: var(--top-navigation);
  position: sticky;
  top: 0px;

  height: 48px;
  overflow: hidden;

  background-color: var(--surface-highest);
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  height: 100%;
}

.nav-item, .nav-logotype{
  display: flex;
}

.nav-logotype > a {
  padding: 14px 0px 0 0px;

  color: var(--on-surface);
  font: var(--logotype);
  letter-spacing: var(--logotype-spacing);
  text-decoration: none;
}

.nav-item > a {
  padding: 12px 32px 0 32px;
  
  color: var(--on-surface);
  font: var(--p);
  text-decoration: none;
}

.nav-item > .active {
  box-sizing: border-box;
  border-bottom: 2px solid var(--on-surface);

  font-weight: 400;
}

#resume-cta {
  position: sticky;
  top: 1px;

  height: 48px;

  background-color: var(--primary);
  font: var(--p);
  color: var(--on-primary);

  transition: top 0.3s;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

p {
  font: var(--p);
  color: var(--on-surface);
}

/* TEMPORARY DEBUG */

body {
  height: 4000px;
}