.section-after-hero {
  margin-bottom: var(--section-margin-small);
}

.section {
  margin-top: var(--section-margin-large);
  margin-bottom: var(--section-margin-small);
}

.section-text {
  margin: auto;
  padding: 0 var(--margin-small) 0 var(--margin-small);

  max-width: var(--section-text-maxwidth);
  height: 100%;
}

.section-container, .card-container  {
  margin: auto;
  margin-top: var(--margin-larger);

  max-width: var(--container-maxwidth);
  height: 100%;
}

.carousel {
  background-color: var(--surface-highest);
}

.carousel-progress {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
  background-color: var(--surface-high);

  font: calc(300 * var(--weight-multyplier)) 1.25rem/1.3em var(--ff);
  color: var(--on-surface-dim);
}

.carousel-progress > li {
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--margin-larger);
  min-height: var(--margin-larger); 

  cursor: pointer;
}

.carousel-progress > li > div {
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--margin-medium);
  min-height: var(--margin-medium);   

  background-color: var(--surface-high);
}

.carousel-progress > .active {
  color: var(--on-surface);
}

.carousel-progress > li:hover {
  color: var(--on-surface);
}

#carousel-progressbar {
  position: relative;
  margin-left: calc(var(--margin-medium) / 2 + var(--margin-smaller));
  margin-right: calc(var(--margin-medium) / 2 + var(--margin-smaller));

  bottom: calc(var(--margin-medium) / 2 + var(--margin-smaller));

  background-color: var(--outline-color);
  height: 1px;
}

#carousel-progressbar-progress{
  background-color: var(--on-surface);
  height: 100%;
  width: 32%;
}

.skill-selection {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;

  list-style-type: none;

  font: calc(300 * var(--weight-multyplier)) 1.25rem/1.3em var(--ff);
  color: var(--on-surface);
}

.skill-selection > li {
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--margin-larger); 

  min-width: 10rem;

  border-top: solid 1px var(--surface);
  border-left: solid 1px var(--surface);
  border-right: solid 1px var(--surface);

  background-color: var(--primary);

  cursor: pointer;
}

.skill-selection > li:hover {
  background-color: var(--primary-hover);
}

.skill-selection > li:first-child{
  border-left: solid 1px var(--primary);
}

.skill-selection > li:last-child{
  border-right: solid 1px var(--primary);
}

.skill-selection > .active:first-child{
  border-left: var(--outline);
}

.skill-selection > .active:last-child{
  border-right: var(--outline);
}

.skill-selection > .active {
  color: var(--on-surface-var);
  border-top: var(--outline);
  background-color: var(--surface-high);
}

.skill-selection > .active:hover  {
  background-color: var(--surface-high);
  cursor: default;
}
.more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.more-card {
  margin: auto;
  max-width: calc((var(--container-maxwidth) / 2) - var(--margin-medium));
  flex-grow: 1;
  border: var(--outline);
  background-color: var(--surface-highest);
}